* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", Courier, monospace;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    font-weight: 400;
}

.content-container {
    margin-top: 260px;
}

.background-image {
    position: absolute;
    background: url('images/fon.png') no-repeat;
    background-repeat: no-repeat;
    background-size: 790px;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 405px;
    top: -11px;
}

.title {
    text-align: center;
    margin: 110px 39px;
    font-size: 70px;
    line-height: 78px;
    color: #515076;
}

.title-container {   
    margin-bottom: 70px;
    margin-top: 70px;
}

.cards-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    position: relative;
    width: 1110px;
    height: 1191px;
    margin: 0 auto;
    list-style-type: none;
}

.card-container {
    width: 340px;
    height: 573px;
    padding: 25px;
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px #5150761A;

}

.product-category {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #A5A3B9;
    margin-bottom: 5px;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

.product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 5px;
}

.product-description {
    margin-bottom: 15px;
}

.product-compound {
    margin-top: 5px;
    list-style: circle;
    margin-bottom: 25px;
}

.product-compound-item {
    margin-left: 14px;
}

.product-price-style {
    display: flex;
    justify-content: space-between;
}

.product-price-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.product-price {
    font-size: 20px;
    line-height: 24px;
}

