* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Courier, monospace;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    font-weight: 400;
}

.header-container{
    position: absolute;
}

.cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    position: relative;
    width: 1280px;
    height: 1200px;
    margin: 0 auto;

}

.card-container {
    width: 340px;
    height: 573px;
    padding: 25px;
    /*padding-left: 25px;*/
    /*padding-right: 25px;*/
    /*padding-top: 25px;*/
    /*padding-bottom: 25px;*/
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px #5150761A;

}

.product-category {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #A5A3B9;
    margin-bottom: 5px;
    display: block;
}

.product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 5px;
}

.product-description {
    margin-bottom: 15px;

}

.product-compound {
    margin-top: 5px;
    list-style: circle;
    margin-bottom: 25px;

}

.product-compound-item {
    /*width: 7px;*/
    /*height: 7px;*/
    /*display: block;*/
    margin-left: 14px;
}

.product-price-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.product-price {
    font-size: 20px;
    line-height: 24px;
}

.title{
    text-align: center;
    font-size: 60px;
}

.title-container{   
    margin-bottom: 70px;
    margin-top: 70px;
}
